@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/material.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
/* #181818 darkgrey */
/* #96ec96 green */
/* #212121 */
* {
    box-sizing: border-box;
/*     
    background-color: #303030;
    background-color: #272727; */
    font-family: 'Poppins', sans-serif !important;
}

/* 

#capture {
    border: 1px solid black;
    height: 200px;
}


canvas {
    border: 1px solid green;

 }

img {
    margin: 10px;

}

.flex {
    display: flex;

}

.CodeMirror {
    width: 1000px;
}


 #output {
    position: absolute;
    top: -200%;
} */

/* --body: #181818;
    --text: #fff;
    --text-secondary: #a9a9a9;
    --text-alt: #bebebe;
    --content: #1e1e1e;
    --bg-alt: #212121;
    --sidebar: #272727;
    --border: #434343;
    --green: #00e472;
    --green-hover: #03d36b;
    --purple: #ab23ff;
    --input: #303030; */